@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Noto Sans SC', sans-serif;
  --color-primary: #4270f5;
  --color-primary-deep: #0a59f8;
  --color-canvas: #f7f7f7;
  --color-canvas-dark: #212121;
  --color-card: #ffffff;
  --color-card-dark: #2a2a2b;
}

body {
  @apply touch-manipulation bg-canvas text-neutral-800 antialiased dark:bg-canvas-dark dark:text-neutral-300;
}
