@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Noto Sans SC', sans-serif;
  --color-primary: #4270f5;
  --color-primary-deep: #0a59f8;
  --color-canvas: #f7f7f7;
  --color-canvas-dark: #212121;
  --color-card: #ffffff;
  --color-card-dark: #2a2a2b;
}

@keyframes color-mode-transition-keep-alive {
  to {
    z-index: -1;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: color-mode-transition-keep-alive 500ms linear forwards;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}

::view-transition-new(root) {
  z-index: 1;
}

.color-mode-transition,
.color-mode-transition *,
.color-mode-transition *::before,
.color-mode-transition *::after {
  transition: none !important;
}

body {
  @apply touch-manipulation bg-canvas text-neutral-800 antialiased dark:bg-canvas-dark dark:text-neutral-300;
}
